<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtor de Dados</title>
</head>
<body>
    <h1>Envie Dados</h1>
    
    <form action="/enviar" method="post">
        <label for="temperatura">Temperature:</label>
        <input type="text" name="temperatura">
        
        <label for="pressao">Pressure:</label>
        <input type="text" name="pressao">
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
